<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SlimeRecords">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="nisse.SlimeRecords.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="nisse.SlimeRecords.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SlimeRecords.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="nisse.SlimeRecords.RecordDetailActivity"
            android:label="Record Details"
            android:parentActivityName="nisse.SlimeRecords.MainActivity" />

        <activity
            android:name="nisse.SlimeRecords.FullScreenPhotoActivity"
            android:theme="@style/Theme.SlimeRecords.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:exported="false" />

        <activity
            android:name="nisse.SlimeRecords.SettingsActivity"
            android:label="Settings"
            android:exported="false"
            android:parentActivityName="nisse.SlimeRecords.MainActivity">
        </activity>

        <activity
            android:name="nisse.SlimeRecords.HistoryActivity"
            android:label="Saved Locations"
            android:exported="false"
            android:parentActivityName="nisse.SlimeRecords.MainActivity">
        </activity>

        <activity
            android:name="nisse.SlimeRecords.ExportActivity"
            android:exported="false"
            android:label="Export Data"
            android:parentActivityName="nisse.SlimeRecords.MainActivity">
        </activity>

        <activity
            android:name="nisse.SlimeRecords.ImportActivity"
            android:exported="false"
            android:label="Import Data"
            android:parentActivityName="nisse.SlimeRecords.MainActivity">
        </activity>

        <activity
            android:name="nisse.SlimeRecords.PrintActivity"
            android:exported="false"
            android:label="Print Labels"
            android:theme="@style/Theme.SlimeRecords"
            android:parentActivityName="nisse.SlimeRecords.MainActivity">
        </activity>

    </application>
</manifest>